.contenCarousel {
    position: relative;
    width: 100%;

    background-color: #FFF7E6;
    margin-top: 8%;
    margin-bottom: 8%;
}
.contentCarousel .container {
    width: 90%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5%; 
    align-items: center;
    justify-content: center;
}   

.contentCarousel .container .content {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.contentCarousel .container .content span {
    font-size: 28px;
    width: 80%;
    color: black;
}
.contentCarousel .container .content p {
    line-height: 24px;
    width: 70%;
    padding-bottom: 10%;
}

.contentCarousel .container .content button {
    width: 55%;
    height: 40px;
    background-color: #EA8025;
    border: none;
    border-radius: 10px;
}

.contentCarousel .container .content button a {
    color: white;
    font-size: 16px;
}

.contentCarousel .container .carousel {
    width: 100%;
    right: 0;
}
.contentCarousel .container .carousel img {
    width: 100%;
    border-radius: 10px;
}

