#brand {
  background-color: #fff7e6;
  margin-bottom: 8%;
  margin-top: 8%;
}

.brand__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.content h2 {
  font-size: 20px;
  font-weight: 700;
}

.content p {
  line-height: 24px;
  padding-bottom: 24px;
}

.brand__content:last-child {
  display: flex;
  flex-direction: column-reverse;
}

.content__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .brand__content {
    flex-direction: row;
  }
  .content__img {
    width: 60%;
  }
  .brand__content:last-child {
    flex-direction: row-reverse;
  }
  .content h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    width: 28%;
  }
}
