.footer {
  background-color: black;
  color: white;
}
.container-topic {
  display: flex;
  flex-direction: column-reverse;
}

.topic-1 {
  display: flex;
  flex-direction: row;
}

.container-topic__item {
  padding-top: 24px;
  width: 300px;
  /* padding-right: 100px; */
}

.container-item-img {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container-item-img img {
  width: 24px;
  height: 24px;
}

.up-img {
  margin-top: 24px;
  background-image: url("https://file.hstatic.net/1000075078/file/banner_app_6ffbf8a1c2f84d57a1fbb21516f6705c.jpeg");
  width: 210px;
  height: 120px;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .topic-2 {
    display: flex;
    flex-direction: row;
  }
  .topic-2 > div,
  .topic-1 > div {
    width: 340px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container-topic {
    display: flex;
    flex-direction: row;
  }
  .topic-2 > div,
  .topic-1 > div {
    width: 210px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1440px) {
  .topic-2 > div,
  .topic-1 > div {
    width: 268px;
    padding: 0 15px;
  }
}
